.career-section {
  height: auto;
  padding-inline: 100px;
  margin-top: 100px;
}

.border {
  margin-top: 0;
  border-bottom: #00d3a9 dotted 2px;
}

.drop {
  position: relative;
  color: white;
}

.drop-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.career {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-top: 30px;
  gap: 110px;
}
.job-header {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.job-type {
  /* padding-inline: 50px; */
  color: #C7C5C5;
  font-size: 20px;
}

.job-description {
  flex-direction: column;
  color: white;
}

.job-requirement{
  font-size: 24px;
  font-weight: 100;
}

.job-skills {
  color: #b7b7b7;
  font-size: 16px;
}

.job-skills-header {
  font-weight: 100;
}

h1,
h2 {
  margin: 0;
}

.button-container {
  margin-top: 30px;
}

.apply-button {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(99.83deg, #00d3a9 0%, #9600ff 100%);
  cursor: pointer;
}
