.hero-section {
  margin-top: 50px;
  height: auto;
  padding-inline: 100px;
}

.hero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.hero-heading {
  color: white;
  font-size: 64px;
  letter-spacing: 4px;
}

.hero-heading .hero-span {
  background: linear-gradient(99.83deg, #00d3a9 0%, #9600ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-desc {
  margin-top: 30px;
  color: grey;
  font-size: 23px;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 2px;
}

.hero-button {
  width: 27vw;
  margin-top: 50px;
  display: flex;
  border: grey 1px solid;
  border-radius: 50px;
  justify-content: space-between;
  padding: 5px;
  color: grey;
}

.hero-item {
  margin-inline: 5px;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  color: grey;
}

.active {
  color: white;
  background: linear-gradient(99.83deg, #00d3a9 0%, #9600ff 100%);
}

.left {
  flex: 1;
  position: relative;
  /* background: url("./elipse.svg"); */
}

.svg-background {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -90px;
}

.hero-img {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* h1{margin: 0;} */
