.hero-section {
  margin-top: 50px;
  height: 65vh;
  padding-inline: 100px;
}

.hero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-heading {
  color: white;
  font-size: 70px;
}

.hero-heading .hero-span {
  background: linear-gradient(99.83deg, #00d3a9 0%, #9600ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-desc {
  margin-top: 30px;
  color: grey;
  font-size: 23px;
  font-weight: 100;
}

.hero-button {
  width: 25vw;
  margin-top: 50px;
  display: flex;
  border: grey 1px solid;
  border-radius: 50px;
  justify-content: space-between;
  padding: 5px;
  color: grey;
}

.hero-item {
  margin-inline: 5px;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  color: grey;
}

.active {
  color: white;
  background: linear-gradient(99.83deg, #00d3a9 0%, #9600ff 100%);
}

.left {
  flex: 1;
}
